<div class="container">


  <div *ngIf="productList.length > 0" class="row mt-2">
    <div class="col-md-5 d-flex justify-content-end">
      <span class="me-1"><small>Search by</small></span>
      <div class="btn-group btn-group-sm" role="group" ngbRadioGroup name="searchQueryBy" [(ngModel)]="searchBy">
        <label ngbButtonLabel class="btn-outline-primary">
          <input ngbButton type="radio" class="btn-check" value="name"> Name
        </label>
        <label ngbButtonLabel class="btn-outline-primary">
          <input ngbButton type="radio" class="btn-check" value="category"> Category
        </label>
        <label ngbButtonLabel class="btn-outline-primary">
          <input ngbButton type="radio" class="btn-check" value="dateRange"> Date Range
        </label>
      </div>
    </div>
    <div class="col-md-7">
      <div class="container">
        <div class="row">
          <div *ngIf="searchBy=='dateRange'; else searchByProduct" class="col">
            <div class="input-group">
              <input class="form-control form-control-sm" placeholder="yyyy-mm-dd" name="searchDtQuerySt" [(ngModel)]="searchDateStartQuery" ngbDatepicker #dStart="ngbDatepicker">
              <button class="btn btn-outline-primary btn-sm" (click)="dStart.toggle()" type="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                  <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                </svg>
              </button>
              <input class="form-control form-control-sm" placeholder="yyyy-mm-dd" name="searchDtQueryEn" [(ngModel)]="searchDateEndQuery" ngbDatepicker #dEnd="ngbDatepicker">
              <button class="btn btn-outline-primary btn-sm" (click)="dEnd.toggle()" type="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                  <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                </svg>
              </button>
            </div>
            
          </div>
          <ng-template #searchByProduct>
            <div class="col">
              <label class="visually-hidden" for="prodNameSearch">Product Name</label>
              <input class="form-control form-control-sm" id="prodNameSearch" type="text" name="searchQuery" [(ngModel)]="searchProductQuery" aria-label="product name search box">
            </div>
          </ng-template>
          <div class="col">
            <button (click)="submitSearch()" type="button" class="btn btn-primary btn-sm">Search</button>
            <button (click)="clearSearch()" type="button" class="btn btn-link btn-sm">clear</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container">
      <div class="col-md-6 offset-md-5 ps-5">
        <div *ngIf="dateInvalidMsg.length > 0" class="form-text text-danger">
          {{dateInvalidMsg}}
        </div>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="d-flex justify-content-center">
      <div class="col-md-12">
        <div class="my-2">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th scope="col" sortable="dateOfManufacture" (sort)="onSortDate($event)">
                  Date added <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-arrows-expand" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8zM7.646.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 1.707V5.5a.5.5 0 0 1-1 0V1.707L6.354 2.854a.5.5 0 1 1-.708-.708l2-2zM8 10a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 14.293V10.5A.5.5 0 0 1 8 10z"/>
                  </svg>
                </th>
                <th *ngIf="isUserAdmin()" scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <div *ngIf="!productList || productList.length < 1">
                <div class="container">
                  <div class="row">
                    <div class="d-flex justify-content-center">
                      No products to display
                    </div>
                  </div>
                </div>
              </div>
              <tr *ngFor="let product of productList; index as i">
                <th scope="row">{{ i+1 }}</th>
                <td>
                  {{ product?.productName }}
                </td>
                <td>{{ product?.productCategory }}</td>
                <td>{{ product?.dateOfManufacture | date }}</td>
                <td *ngIf="isUserAdmin()">
                  <span (click)="deleteProduct(product?.productId, product?.productName)" role="button" class="me-4 p-0 text-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete Product">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                      <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                    </svg>
                  </span>
                  <span (click)="enableEditProduct(product?.productId)" role="button" class="me-4 p-0 text-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Product">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                      <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="d-flex justify-content-center align-items-center">
      <div *ngIf="addProductEnabled">
        <form class="row row-cols-md-auto g-2" [formGroup]="addProductForm" (ngSubmit)="submitAddProduct()">
          <div class="col">
            <label class="visually-hidden" for="prodName">Product Name</label>
            <input formControlName="productName" class="form-control" id="prodName" type="text" placeholder="Full name of product" aria-label="product name">
            <div *ngIf="addProdName?.touched && addProdName?.invalid" class="form-text text-danger">
              Product name cannot be empty
            </div>
          </div>
          <div class="col">
            <label class="visually-hidden" for="prodCategory">Product Category</label>
            <input formControlName="productCategory" class="form-control" id="prodCategory" type="text" placeholder="Product category" aria-label="product category">
            <div *ngIf="addProdCategory?.touched && addProdCategory?.invalid" class="form-text text-danger">
              Product category cannot be empty
            </div>
          </div>
          <div class="col">
            <label class="visually-hidden" for="prodDate">Date added</label>
            <input formControlName="dateOfManufacture" class="form-control" id="prodDate" type="text" placeholder="Product added date" aria-label="product date">
            <div *ngIf="addManufactureDate?.touched && addManufactureDate?.invalid" class="form-text text-danger">
              Date must be any of the ISO format
            </div>
          </div>
          <div class="col">
            <button type="submit" class="btn btn-primary btn-sm">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="d-flex justify-content-center align-items-center">
      <div *ngIf="editProductEnabled">
        <form class="row row-cols-md-auto g-2" [formGroup]="editProductForm" (ngSubmit)="submitEditProduct()">
          <div class="col">
            <label class="visually-hidden" for="prodNameEdit">Product Name</label>
            <input formControlName="productName" class="form-control" id="prodNameEdit" type="text" placeholder="full name of product" aria-label="product name">
            <div *ngIf="editProdName?.touched && editProdName?.invalid" class="form-text text-danger">
              Product name cannot be empty
            </div>
          </div>
          <div class="col">
            <label class="visually-hidden" for="prodCategoryEdit">Product Category</label>
            <input formControlName="productCategory" class="form-control" id="prodCategoryEdit" type="text" placeholder="product category" aria-label="product category">
            <div *ngIf="editProdCategory?.touched && editProdCategory?.invalid" class="form-text text-danger">
              Product category cannot be empty
            </div>
          </div>
          <div class="col">
            <label class="visually-hidden" for="prodDateEdit">Date added</label>
            <input formControlName="dateOfManufacture" class="form-control" id="prodDateEdit" type="text" placeholder="product added date" aria-label="product date">
            <div *ngIf="editManufactureDate?.touched && editManufactureDate?.invalid" class="form-text text-danger">
              Date must be any of the ISO format
            </div>
          </div>
          <div class="col">
            <button type="submit" class="btn btn-primary btn-sm">Edit done</button>
          </div>
        </form>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="d-flex justify-content-center">
      <div  *ngIf="isUserAdmin()" class="col-md-12">
        <div class="container">
          <div class="row">
            <div class="my-2 d-flex justify-content-center">
              <button type="button" class="btn btn-primary me-2" (click)="enableAddProduct()">
                Add Product
              </button>
              <button type="button" class="btn btn-primary me-2" (click)="uploadProducts()">
                Import Products from file
              </button>
              <button type="button" class="btn btn-primary me-2" (click)="downloadProducts()">
                Export Products to file
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
