<div *ngIf="fromComponent && fromComponent.length > 0" class="alert alert-primary" role="alert">
  You signed up successfully. Login to continue.
</div>
<div class="container">
  <div class="row">
    <div class="d-flex justify-content-center align-items-center">
      <div class="col-md-4">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <h3 class="my-4">Login</h3>
          <div class="mb-3">
            <label for="emailId" class="form-label">Email address</label>
            <input formControlName="email" class="form-control form-control-lg" id="emailId" type="text" placeholder="youremail@domain" aria-label="login email">
            <div *ngIf="emailControl?.touched && emailControl?.invalid" class="form-text text-danger">
              Email address is invalid
            </div>
          </div>
          <div class="mb-3">
            <label for="passwordId" class="form-label">Password</label>
            <input formControlName="password" class="form-control form-control-lg" id="passwordId" type="password" placeholder="xxxxxxxx password" aria-label="login password">
            <div *ngIf="passwordControl?.touched && passwordControl?.invalid" class="form-text text-danger">
              Password invalid, must be 8-24 characters and alpha-numeric
            </div>
          </div>
          <div class="d-grid">
            <button type="submit" class="btn btn-primary">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
