<nav class="navbar navbar-expand-md bg-light">
  <div class="container-fluid">
    <a routerLink="/" class="navbar-brand text-primary mb-0 h1">Productify</a>
    <div class="nav-item">
      <app-weathernowcard *ngIf="weatherInfo" #weatherCard role="button" [weatherInfo]="weatherInfo" weatherIcon="{{weatherIconObs | async}}" (cardClick)="openWeatherModal(weatherCard.weatherIcon)"></app-weathernowcard>
    </div>
    <div class="navbar-nav">
      <div *ngIf="userLoggedIn(); then loggedInLinks else loggedOutLinks"></div>
      <ng-template #loggedInLinks>
        <div class="nav-item">
          <a class="nav-link" routerLink="/product" routerLinkActive="active">Product</a>
        </div>
        <div class="nav-item">
          <button type="button" class="btn btn-link" (click)="onLogout()">Logout</button>
        </div>
      </ng-template>
      <ng-template #loggedOutLinks>
        <div class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
        </div>
        <div class="nav-item">
          <a class="nav-link" routerLink="/signup" routerLinkActive="active">Signup</a>
        </div>
      </ng-template>
    </div>
    
  </div>
</nav>

<router-outlet></router-outlet>