<div *ngIf="mustBeAdmin" class="alert alert-primary" role="alert">
  Admin user is not yet registered. Please register one.
</div>
<div *ngIf="signupError" class="alert alert-danger" role="alert">
  Unable to signup. {{ signupError }}
</div>
<div class="container">
  <div class="row">
    <div class="d-flex justify-content-center align-items-center">
      <div class="col-md-4">
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
          <h3 class="my-4">Signup</h3>
          <div class="mb-3">
            <label for="fullNameId" class="form-label">Full name</label>
            <input formControlName="fullName" class="form-control form-control-lg" id="fullNameId" type="text" placeholder="Firstname Surname, e.g. John Doe" aria-label="signup fullname">
            <div *ngIf="fullNameControl?.touched && fullNameControl?.invalid" class="form-text text-danger">
              Full name cannot be empty
            </div>
          </div>
          <div class="mb-3">
            <label for="emailId" class="form-label">Email address</label>
            <input formControlName="email" class="form-control form-control-lg" id="emailId" type="text" placeholder="youremail@domain" aria-label="signup email">
            <div *ngIf="emailControl?.touched && emailControl?.invalid" class="form-text text-danger">
              A valid email address must contain the character - @ and domain
            </div>
          </div>
          <div class="mb-3">
            <label for="passwordId" class="form-label">Password</label>
            <input formControlName="password" class="form-control form-control-lg" id="passwordId" type="password" placeholder="xxxxxxxx password" aria-label="signup password">
            <div [ngClass]="passwordControl?.touched && passwordControl?.invalid ? 'form-text text-danger' : 'form-text'">
              Password must be alpha-numeric and 8-24 characters in length.
            </div>
          </div>
          <div *ngIf="mustBeAdmin" class="mb-2 text-muted">
            Please remember the credentials, you can only register one admin user.
          </div>
          <div class="d-grid">
            <button type="submit" class="btn btn-primary" [disabled]="!signupForm.valid">
              <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              Signup
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
